body {
  background-image: url("net.png");
  background-repeat: no-repeat;
}
.cont {
  width: 100%;
  height: 100px;
}

.oturumA {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 28px;
}
.boyutB {
  height: 300px;
  width: 50px;
}

.boyutN {
  width: 25vh;
  height: 45px;
}
.login {
  height: 85vh;
  width: 450px;
}
.in {
  width: 80%;
}
.konum {
  display: flex;
  justify-content: center;
  align-items: center;
}
.saydam {
  background-color: rgba(0, 0, 0, 0.86);
  border-radius: 4px;
  box-sizing: border-box;
}
.konum2 {
  display: inline-block;
  float: left;
}

.buton {
  height: 49px;
  width: 46vh;
  background: #e50914;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  margin: 24px 0 12px;
  color: white;
  border: 0;
}
.check1 {
  width: 14px;
  height: 16px;
  background-color: rgba(53, 52, 52, 0.4);
}

.txt {
  color: rgba(245, 240, 240, 0.7);
  font-size: 13px;
  font-weight: 500;
}
.txt2 {
  font-size: 17px;
  font-weight: 200px;
  color: gray;
}
.txt3 {
  font-size: 13px;
  font-weight: 300px;
  color: #8c8c8c;
}

.arka {
  background-color: rgba(53, 52, 52, 0.83);
  border-radius: 10px;
}

.arka::placeholder {
  color: rgb(140, 140, 140, 0.8);
  font-size: 16px;
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
  font-weight: 500;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

.kutuA {
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 16px 20px 0;
}
.kutuB {
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 16px 20px 0;
}
