body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn1 {
  width: 300px;
  height: 150px;
  background-color: red;
  color: bisque;
  margin: 50px;
  border-radius: 20px;
}

#btn2 {
  width: 300px;
  height: 150px;
  background-color: rgb(0, 255, 4);
  color: bisque;
  margin: 50px;
  border-radius: 20px;
}
#btn3 {
  width: 300px;
  height: 150px;
  background-color: rgb(38, 100, 158);
  color: bisque;
  margin: 50px;
  border-radius: 20px;
}
#btn4 {
  width: 300px;
  height: 150px;
  background-color: rgb(165, 53, 64);
  color: bisque;
  margin: 50px;
  border-radius: 20px;
}
